.row-fluid
    .span12
        %h2 Ethical Issues
        %p
            In order to see the ethical problems that arise from computers and the environment, we must analyze existing and proposed problems and solutions from the perspective of philosophers. By using the perspective of great philosophers we can outline the moral obligations that people and companies face with greener policies. These different perspectives ask: What roles do humans have with respect to the environment?

.row-fluid
    .span12
        %h2 Nietzsche
.row-fluid
    .span9
        %p
            Friedrich Nietzche emphasizes that ethical egoism, or people's self-interest, is the driving force behind everyone's actions. From Nietzche's perspective, greed prevents people from taking green initiatives. Individuals have a selfish need to constantly update their device in spite of environmental consequences. Additionally, corporations are hesitant in taking the time and effort to invest in greener projects and processes due to time and money spent on projects that don't have a quick return on investment (ROI). As a result, many corporations would rather continue with traditional rare-earth metal mining and "backyard recycling" since it provides them with a quick ROI in spite of the environmental impacts. Lastly, Nietzche’s perspective implies it’s necessary to give individuals and corporations incentives to recycle and take greener initiatives.

    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/nietzsche.jpg")}

.row-fluid
    .span12
        %h2 Singer
.row-fluid
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/singer.jpg")}
    .span9
        %p
            Peter Singer's philosophy, utilitarianism, depends on the theory that an action is a moral action if it maximizes utility. In order to determine utility, utility is the amount of happiness that one's actions cause. As a result, the action that yields the greatest amount of happiness is a moral action. From Singer’s point of view, environmental degradation is a threat to life and action should be taken to protect the environment since it's a world heritage. Disregarding lost time and money on the corporate side, greener stances within computer technology must be taken since such actions improve everyone's happiness. Companies might suffer financially but the amount of money saved after reducing energy use and materials consumed for their products end up making both the customer and company happy. Both groups mitigate environmental impact and save time and money.

.row-fluid
    .span12
        %h2 Kant
.row-fluid
    .span9
        %p
            Immanuel Kant’s philosophy relies on the belief that
            %a{:href => "http://home.sandiego.edu/~kaufmann/hnrs379/Kantian_Philosophy_and_the_Environment.pdf", :target => :blank} "humanity or a dignity or worth that elevates humanity above all else in nature."
            His philosophy implies that those who hold positions of influence are held in high esteem and are considered special due to the role they play in society and the accompanying responsibilities. From this, individuals must take action in protecting the environment since it will protect their moral development as well as mankind. From Kant's perspective,
            %blockquote<
                not taking green initiatives will lead to destruction/pollution that might damage the well-being of human beings now and in the future, since our well-being is essentially dependent on a sustainable environment.
                %a{:href => "http://plato.stanford.edu/entries/ethics-environmental/", :target => :blank} Source
            As a result, a Kantesian perspective would be against all actions taken by individuals and corporations that harm the environment since these actions will end up harming them in the long run. Thus, there should be no negligence towards pollution and the destruction of the environment via computer manufacturing and informal recycling. Furthermore, policies that encourage individuals to recycle, meet environmental standards, or strive to reduce emissions should be supported.

    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/kant.jpg")}

.row-fluid
    .span12
        %h2 Mill
.row-fluid
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/mill.jpg")}
    .span9
        %p
            Applying the philosophy of John Stuart Mill will help everyone in the US become exposed to current environmental issues. Liberalism, Mill's perspective, relies on individuals actively contributing with the expectation that no one is negatively impacted by their contribution. By applying his perspective, polluting and non-polluting groups alike are able to propose their stance, but will be unable to achieve a resolution. For instance, a policy forcing companies to invest in greener technology would result in that company spending time and money on making greener products, which might eventually increase costs of their products in order to obtain a return on investment. Since democracy is modeled after liberalism, green polices in which mandates or embargoes are implemented and toxins are regulated would be impossible to reach since many corporations have lobbyists in place to prevent such policies that might cause the company to lose money. As a result, Mill’s perspective would indicate that the only actions available are prescriptive and thus unenforceable. An example of this would be the minerals management service (MMS) which defined environmental standards for offshore oil companies
            = succeed '.' do
                %a{:href => "http://www.nytimes.com/2010/05/14/us/14agency.html", :target => :blank} but wasn't actually enforced

.row-fluid
    .span12
        %h2 Buddha
.row-fluid
    .span9
        %p
            Buddha's philosophy of zen may help individuals realize that they are a possession of their own technological obsessions. Buddha's zen philosophy encourages individuals to stop focusing on objectives, find compassion in themselves, and to practice meditation in order to reevaluate their actions. From a zen perspective, computers and technology are all conveniences in life that should not be heavily desired for individuals. As a result, zen philosophy would discourage individuals from updating their devices and motivate them to appreciate the present and the environment. This philosophy could have a positive environmental impact if practiced by individuals, but applying this philosophy at a corporate level would be detrimental. If a zen perspective was applied to corporations, they would stop spending time and money on making strives towards innovation and technological progress in order to achieve nirvana. This would also hinder movements in establishing mandates, embargoes, and toxin regulations. Ultimately, zen philosophy would be detrimental in a growing society where there is a need to prevent the environment's resources from constantly being depleted or polluted.

    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/buddha.jpg")}

.row-fluid
    .span12
        %h2 Aristotle
.row-fluid
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/aristotle.jpg")}
    .span9
        %p
            Applying an Aristotelian point of view would reveal that small actions are required in order to catalyze a change. From this point of view, policy makers would have to realize that current problems exist as an accumulation of previous problems, and that current habits are the result of previous habits. As a result, green initiatives should be slowly introduced in a realistic fashion in order to cause the most permanent change. Slowly applying policy or green programs can help individuals gradually develop improved behaviors when it comes to purchasing electronics or recycling and help companies shut down inefficient practices (i.e. informal recycling, traditional manufacturing processes). In the long run, applying an aristotelian point of view towards current issues can help individuals slowly adjust to change and adopt policies in favor of change, and thus improve the environment.
