.row-fluid
    .span12
        %h2 Ethical Issues
        %p
            In order to see the ethical problems that arise from computers and the environment, we must analyze existing and proposed problems and solutions from the perspective of philosophers. By using the perspective of great philosophers, this analysis will provide an outline of moral obligations that people and companies face with greener policies. These perspectives will bring up the questions: what roles do humans have with respect to the environment, and why. Different philosophers have different answers to these questions.

.row-fluid
    .span12
        %h2 Nietzsche
.row-fluid
    .span9
        %p
            The first philosopher is Friedrich Nietzsche. Nietzche emphasizes that ethical egoism, or people's self-interest, is the driving force behind everyone's actions. If Nietzche's perspective were used to analyze current problems within computers and the environment, it would reveal that greed is motivating everyone against taking greener steps. His perspective would reveal that individual's have a selfish need to constantly update their device in spite of environmental consequences. His perspective would reveal that the corporations are hesitant in taking the time and effort to invest in greener projects and processes due to time and money spent on projects that don't have a quick return on investment (ROI). As a result, many corporations would rather continue with traditional rare-earth metal mining, and "backyard recycling" since it provides them a quick ROI in spite of environmental impacts. Lastly, his perspective would reveal that it is necessary to give individuals and corporations incentives to recycle and take greener initiatives.
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/nietzsche.jpg")}

.row-fluid
    .span12
        %h2 Singer
.row-fluid
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/singer.jpg")}
    .span9
        %p
            The second philosopher is Peter Singer. Peter Singer's philosophy, utilitarianism, depends on the theory that an action is a moral action if it maximizes utility. In order to rate utility, utility is the amount of happiness that one's actions cause. As a result, the action that yields the greatest amount of happiness is a moral action. He would view environmental degradation as a threat to life, and would thus agree with environmentalists and individuals whom agree that action should be taken to protect the environment since it's a world heritage. From Peter's perspective one can argue in favor of greener stances taken within computer technology since such actions would improve everyone's happiness despite the fact that companies might lose time and money since. Companies would suffer financially but the amount of money they will save after reducing energy use and material's consumed for their products or services would make both the customer and company happy since both groups will be saving money and mitigating environmental impacts. As a result, his perspective would be in favor of any proposed green initiative or stances taken in reducing the negative environmental impacts from small groups (i.e. Guiyu citizens, informal recycling participants) since the entire world's happiness is positively impacted by them.

.row-fluid
    .span12
        %h2 Kant
.row-fluid
    .span9
        %p
            Immanuel Kant is the next philosopher. Kantian philosophy relies on the belief that
            %a{:href => "http://home.sandiego.edu/~kaufmann/hnrs379/Kantian_Philosophy_and_the_Environment.pdf", :target => :blank} "humanity or a dignity or worth that elevates humanity above all else in nature."
            His philosophy implies that those who hold positions of influence are held in high esteem and are considered special due to the role they play in society and the accompanying responsibilities. From this, he believes that individuals must take action in protecting the environment since it will protect their moral development as well as mankind. From Kant's perspective,
            %a{:href => "http://plato.stanford.edu/entries/ethics-environmental/", :target => :blank} "not taking green initiatives will lead to destruction/pollution that might damage the well-being of human beings now and in the future, since our well-being is essentially dependent on a sustainable environment."
            As a result, a Kantesian perspective would be against all actions taken by individuals and corporations that harm the environment since these actions will end up harming them in the long run. Therefore, negligence towards taking action against would the destruction of the environment via computer production or pollution caused by informal recycling would be opposed from his perspective, while policies that encourage individuals to recycle, meet environmental standards, or strive to reduce emissions would be supported.

    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/kant.jpg")}

.row-fluid
    .span12
        %h2 Mill
.row-fluid
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/mill.jpg")}
    .span9
        %p
            Applying the philosophy of John Stuart Mill will help everyone in the US become exposed to current environmental issues. Liberalism, Mill's perspective, relies on having individuals actively contribute with the intention that no one is negatively impacted from their contribution. By applying his perspective, all groups polluting and non-polluting are able to propose their stance, but will be unable to achieve a resolution that results in neither party being negatively impacted. For instance, a policy forcing companies to invest in greener technology would result in that company spending time and money on making greener products, which might eventually increase costs of their products in order to obtain a ROI. Since democracy is modeled after liberalism, green polices in which mandates or embargos are implemented, and toxins are regulated would be impossible to reach since many corporations have lobbyists in place to prevent policies that would result in their company from losing money. As a result, this perspective would indicate that only actions available are prescriptive and thus unenforceable. An example of this would be the minerals management service (MMS) which defined environmental standards for offshore oil companies, but did not enforce these standards. From this perspective, all issues would be heard, but actions in which everyone is not losing money will be impossible to obtain.

.row-fluid
    .span12
        %h2 Buddha
.row-fluid
    .span9
        %p
            Applying Buddha's philosophy of zen to computers and environment would help individuals realize that they are a possession of their own obsessions. Buddha's zen philosophy encourages individuals to stop focusing on objectives, find compassion in themselves, and to practice meditation in order to reevaluate their actions. From a zen perspective, computers and technology are all conveniences in life that should not be heavily desired for individuals. As a result, zen philosophy would discourage individuals from updating their devices, and motivate them to appreciate their present and environment in the long run. This philosophy can make a positive environmental impact if practice amongst individuals, but applying this philosophy at a corporate level would be detrimental. If a zen perspective were applied to corporations, they will stop spending time and money on making strives towards innovation and technological progress, in order to achieve nirvana. This would also hinder movements in establishing mandates, embargos, or toxin regulations onto people due to a lack of a personal need to do so. Ultimately, zen philosophy would be detrimental in a growing society where there is a need to prevent the environment's resources from constantly being depleted or polluted.

    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/buddha.jpg")}

.row-fluid
    .span12
        %h2 Aristotle
.row-fluid
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/aristotle.jpg")}
    .span9
        %p
            Applying an Aristotelian point of view would reveal that small actions are required in order to catalyze a change. From this point of view, policy makers would have to  realize that current problems exist as an accumulation of previous problems, and that current habits are the result of previous habits. As a result, green initiatives should be slowly introduced in a realistic fashion in order to cause the most permanent change. Slowly applying policy or green programs can help individuals slowly develop behaviors and reevaluate purchasing electronics or recycling, and help companies wean off of inefficient practices (i.e. informal recycling, traditional manufacturing processes). In the long run, applying an aristotelian point of view towards current issues can help individuals slowly adjust to change and adopt policies in favor of change, and thus improve the environment.
