.row-fluid
    .span12
        %h2 Ethical Issues
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.row-fluid
    .span12
        %h2 Nietzsche
.row-fluid
    .span9
        %p Donec nec interdum enim, vel pulvinar dui. Vivamus non faucibus urna. Praesent ornare tempus ex a suscipit. Sed scelerisque nisl tortor, in sagittis turpis mollis nec. Vestibulum lacinia, enim at sagittis interdum, nulla leo hendrerit risus, a mattis lacus ex sit amet nibh. Donec ultricies, nulla eu volutpat vulputate, ante ex dictum sem, at interdum leo ligula ac lorem. In interdum elementum urna, id pulvinar leo tincidunt vitae. Proin vestibulum leo ut magna faucibus vulputate. Mauris tempor ipsum sit amet eros maximus, ac molestie enim molestie.
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/nietzsche.jpg")}

.row-fluid
    .span12
        %h2 Singer
.row-fluid
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/singer.jpg")}
    .span9
        %p Donec nec interdum enim, vel pulvinar dui. Vivamus non faucibus urna. Praesent ornare tempus ex a suscipit. Sed scelerisque nisl tortor, in sagittis turpis mollis nec. Vestibulum lacinia, enim at sagittis interdum, nulla leo hendrerit risus, a mattis lacus ex sit amet nibh. Donec ultricies, nulla eu volutpat vulputate, ante ex dictum sem, at interdum leo ligula ac lorem. In interdum elementum urna, id pulvinar leo tincidunt vitae. Proin vestibulum leo ut magna faucibus vulputate. Mauris tempor ipsum sit amet eros maximus, ac molestie enim molestie.

.row-fluid
    .span12
        %h2 Kant
.row-fluid
    .span9
        %p Donec nec interdum enim, vel pulvinar dui. Vivamus non faucibus urna. Praesent ornare tempus ex a suscipit. Sed scelerisque nisl tortor, in sagittis turpis mollis nec. Vestibulum lacinia, enim at sagittis interdum, nulla leo hendrerit risus, a mattis lacus ex sit amet nibh. Donec ultricies, nulla eu volutpat vulputate, ante ex dictum sem, at interdum leo ligula ac lorem. In interdum elementum urna, id pulvinar leo tincidunt vitae. Proin vestibulum leo ut magna faucibus vulputate. Mauris tempor ipsum sit amet eros maximus, ac molestie enim molestie.
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/kant.jpg")}

.row-fluid
    .span12
        %h2 Mill
.row-fluid
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/mill.jpg")}
    .span9
        %p Donec nec interdum enim, vel pulvinar dui. Vivamus non faucibus urna. Praesent ornare tempus ex a suscipit. Sed scelerisque nisl tortor, in sagittis turpis mollis nec. Vestibulum lacinia, enim at sagittis interdum, nulla leo hendrerit risus, a mattis lacus ex sit amet nibh. Donec ultricies, nulla eu volutpat vulputate, ante ex dictum sem, at interdum leo ligula ac lorem. In interdum elementum urna, id pulvinar leo tincidunt vitae. Proin vestibulum leo ut magna faucibus vulputate. Mauris tempor ipsum sit amet eros maximus, ac molestie enim molestie.

.row-fluid
    .span12
        %h2 Buddha
.row-fluid
    .span9
        %p Donec nec interdum enim, vel pulvinar dui. Vivamus non faucibus urna. Praesent ornare tempus ex a suscipit. Sed scelerisque nisl tortor, in sagittis turpis mollis nec. Vestibulum lacinia, enim at sagittis interdum, nulla leo hendrerit risus, a mattis lacus ex sit amet nibh. Donec ultricies, nulla eu volutpat vulputate, ante ex dictum sem, at interdum leo ligula ac lorem. In interdum elementum urna, id pulvinar leo tincidunt vitae. Proin vestibulum leo ut magna faucibus vulputate. Mauris tempor ipsum sit amet eros maximus, ac molestie enim molestie.
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/buddha.jpg")}

.row-fluid
    .span12
        %h2 Aristotle
.row-fluid
    .span3
        %a.thumbnail{:href => ""}
            %img{:src => asset_path("ethics/aristotle.jpg")}
    .span9
        %p Donec nec interdum enim, vel pulvinar dui. Vivamus non faucibus urna. Praesent ornare tempus ex a suscipit. Sed scelerisque nisl tortor, in sagittis turpis mollis nec. Vestibulum lacinia, enim at sagittis interdum, nulla leo hendrerit risus, a mattis lacus ex sit amet nibh. Donec ultricies, nulla eu volutpat vulputate, ante ex dictum sem, at interdum leo ligula ac lorem. In interdum elementum urna, id pulvinar leo tincidunt vitae. Proin vestibulum leo ut magna faucibus vulputate. Mauris tempor ipsum sit amet eros maximus, ac molestie enim molestie.
