#splash
    %h2 Abstract
    %p.pull-right
        %i.fa.fa-desktop{:style => "font-size: 65px; margin-right: 30px;"}
    %p Computers are often thought of as being pretty environmentally friendly: they’re nice and shiny, they have rechargeable batteries that can last for years, and they seem to have a relatively low power usage. But the embodied energy, the energy required to mine and refine the components, in computer components is actually enormous, and a few microchips almost have the same embodied energy as a car.
    %p.pull-right
        %i.fa.fa-exclamation-triangle{:style => "font-size: 80px; margin-top: 50px; margin-right: 50px"}
    %p Some computer components are made of scarce rare-earth elements, and are difficult to mine and purify, and these processes are very energy intensive. Although advancements in electronics technology have helped to reduce the size of computer components and the amount of materials they require, computers continue to pose a threat to the environment after being manufactured. Due to the rapid cycle of obsolescence, the lifespans of computers are often relatively short and often end up in the landfill and not being recycled, after only a few years. The improper disposal of computers leads to the build up of hazardous materials (i.e. mercury, lithium batteries) in landfills and a loss of the potential to recycle the rare-earth elements in the components.
    %p.pull-left
        %i.fa.fa-recycle{:style => "font-size: 70px; margin-top: 20px; margin-right: 20px; margin-left: 10px"}
    %p In an effort to reduce the amount of accumulated e-waste and cut down on mining for rare-earth elements needed in manufacturing computer components, policies aimed at establishing computer recycling programs and improving electronic recycling techniques must be established. Access to computer recycling programs needs to be made easier, either through expansion of recycling centers or through increasing incentives to recycle.
    %p Additionally, the efficiency of recycling these components needs to increase so that once computers actually get to the center, more of the materials can be harvested. This can happen through improving recycling techniques, using materials more easily recycled, or by manufacturing components in a way such that they themselves are more easily recycled.
