.row-fluid
    .span12
        %h2 Current Solutions
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p Donec nec interdum enim, vel pulvinar dui. Vivamus non faucibus urna. Praesent ornare tempus ex a suscipit. Sed scelerisque nisl tortor, in sagittis turpis mollis nec. Vestibulum lacinia, enim at sagittis interdum, nulla leo hendrerit risus, a mattis lacus ex sit amet nibh. Donec ultricies, nulla eu volutpat vulputate, ante ex dictum sem, at interdum leo ligula ac lorem. In interdum elementum urna, id pulvinar leo tincidunt vitae. Proin vestibulum leo ut magna faucibus vulputate. Mauris tempor ipsum sit amet eros maximus, ac molestie enim molestie.
.row-fluid
    .span4
        %h3 Mandates
        %p Aliquam consectetur tincidunt tellus, et aliquam purus iaculis vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec hendrerit nibh vitae quam bibendum pharetra. Nulla quis blandit augue. Nulla metus lorem, dapibus eget orci nec, pharetra dapibus elit. Pellentesque et magna sed urna laoreet egestas et et arcu. Duis fringilla orci eget varius lacinia. Vestibulum ultricies quam sit amet augue gravida, eu congue nunc blandit. Maecenas mollis mollis velit, ut commodo elit eleifend sed.
    .span4
        %h3 Embargos
        %p Aliquam consectetur tincidunt tellus, et aliquam purus iaculis vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec hendrerit nibh vitae quam bibendum pharetra. Nulla quis blandit augue. Nulla metus lorem, dapibus eget orci nec, pharetra dapibus elit. Pellentesque et magna sed urna laoreet egestas et et arcu. Duis fringilla orci eget varius lacinia. Vestibulum ultricies quam sit amet augue gravida, eu congue nunc blandit. Maecenas mollis mollis velit, ut commodo elit eleifend sed.
    .span4
        %h3 Toxins
        %p Aliquam consectetur tincidunt tellus, et aliquam purus iaculis vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec hendrerit nibh vitae quam bibendum pharetra. Nulla quis blandit augue. Nulla metus lorem, dapibus eget orci nec, pharetra dapibus elit. Pellentesque et magna sed urna laoreet egestas et et arcu. Duis fringilla orci eget varius lacinia. Vestibulum ultricies quam sit amet augue gravida, eu congue nunc blandit. Maecenas mollis mollis velit, ut commodo elit eleifend sed.
.row-fluid
    .span12
        %h2 Future Solutions
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p Donec nec interdum enim, vel pulvinar dui. Vivamus non faucibus urna. Praesent ornare tempus ex a suscipit. Sed scelerisque nisl tortor, in sagittis turpis mollis nec. Vestibulum lacinia, enim at sagittis interdum, nulla leo hendrerit risus, a mattis lacus ex sit amet nibh. Donec ultricies, nulla eu volutpat vulputate, ante ex dictum sem, at interdum leo ligula ac lorem. In interdum elementum urna, id pulvinar leo tincidunt vitae. Proin vestibulum leo ut magna faucibus vulputate. Mauris tempor ipsum sit amet eros maximus, ac molestie enim molestie.
