.row-fluid
    .span12
        %h2 Policy Solutions
        %p
            The
            %a{:href => "http://pubs.acs.org/doi/pdf/10.1021/es702255z", :target => :blank} three most prevalent current policy solutions
            to the problem of electronic waste are: mandated recycling systems, embargoes/trade bans, and regulating the toxins in the computer itself.
.row-fluid
    .span12
        %h2 Mandated Recycling Systems
        %p
            A country or state can decide to have mandated recycling systems, which means that they are required to have facilities capable of processing electronic waste, and that they must make those facilities available to the public. These facilities are able to process electronic waste much more effectively and less destructively and dangerously because they operate in a controlled fashion. They use chemical baths and closed furnaces to strip heavy metals separately instead of the open fires in garbage pits as in informal recycling. Additionally, recycling centers have more concrete reverse supply chains, easily being able to transport their recycled materials to manufacturers.
        %p
            One of the largest mandated recycling systems was the
            %a{:href => "http://ec.europa.eu/environment/waste/weee/index_en.htm", :target => :blank} Waste Electronic and Electrical Equipment
            (WEEE) directive. The WEEE directive was a European Union directive that required that the average citizen of the EU recycle at least 4 kilograms of electronic equipment per year. The directive gave the responsibility of implementing this requirement to the manufacturers, making them at least responsible to collect WEEE for free from consumers.
        %p
            About half the US states have implemented mandated recycling systems,
            = succeed ',' do
                %a{:href => "http://www.deq.state.or.us/lq/pubs/factsheets/DisposalBanofCEDs.pdf", :target => :blank} notably Oregon
            who not only set up recycling facilities for electronic waste throughout the state, but also in a 2007 law required that all manufacturers of electronics be part of a e-waste recycling plan or face a fine from the state. They also set up a number of sites over the state where consumers could bring their electronics for free to be recycled.
        %p
            Recycling is not always the ideal option, however. When possible, reuse is much more efficient than recycling because the parts do not have to be separated and then formed again, just some small refurbishing can make a computer functional. Additionally, recycling efficiency still needs to be improved to the point where it’s economically feasible to recycle computer components because right now facilities require government support to continue operation.
        %img{:src => asset_path("mandated-recycling.jpg")}

.row-fluid
    .span12
        %h2 Embargoes and Trade Bans
        %p
            Countries can also decide to ban electronic waste from being imported, or bans can be put in place that stop developed countries from unloading their e-waste onto developing countries. Since informal recycling is such a problem, it often occurs in developing countries where facilities are being overwhelmed and there is a large labor force willing to take a job as a waste picker. Preventing developing countries from being burdened with electronic waste, bans can force developed countries to recycle or otherwise deal with the waste on their own land
        %p
            The
            %a{:href => "http://www.basel.int/TheConvention/Overview/TextoftheConvention/tabid/1275/Default.aspx", :target => :blank} Basel Convention
            was a United Nations treaty that was created to stop hazardous (specifically electrical and electronic) waste from being transported from developed to less developed countries. The Basel Convention raised the amount of notice and tracking required for exportation of e-waste, and also required that explicit consent be given each time electronic waste is transferred across national boundaries. Additionally there is a ban on shipping e-waste to non parties of the convention, such as South Sudan, Sierra Leon and Angola.
        %p
            China specifically has implemented a number of e-waste import bans, largely because 70% percent of all electronic waste generated in the world ends up in China. The
            %a{:href => "https://elawspotlight.wordpress.com/2010/10/14/point-of-view-elaws-intern-looks-at-chinas-e-waste-industry/", :target => :blank} Management Regulations for Recycling and Disposing of Consumer Electronics and Electronic Waste
            bans all imported toxic electronic waste and mandates that provices build licensed and pollution regulated treatment plants for electronic waste.
        %p
            Bans are not always effective at dealing with the e-waste. While China tries to ban e-waste from being imported, there are many other developing countries such as
            %a{:href => "http://www.greenpeace.org/international/en/campaigns/detox/electronics/the-e-waste-problem/where-does-e-waste-end-up/", :target => :blank} Ghana, India, and Pakistan
            that take on a large burden on the electronic waste currently and would just take on more if China continued such bans. Because there are so many countries willing to take or unable to refuse electronic waste, bans only shift the problem from one country to another. Additionally, the Basel convention had a tough time enforcing its policies since the trade of electronic waste is so large, and the US never ratified it.
        %img{:src => asset_path("embargoes-trade-bans.jpg")}

.row-fluid
    .span12
        %h2 Regulating Toxins
        %p
            There are many hazardous chemicals and heavy metals in computers that are
            %a{:href => "http://www.who.int/ceh/risks/ewaste/en/", :target => :blank} dangerous for workers
            attempting to recycle the components. Lead, Cadmium and Chromium are all used in computers, as well as flame retardants, arsenic and mercury that are dangerous to inhale. Replacing these components with lighter metals such as zinc or tin would allow for recycling workers to be put at a lower risk when handling circuit boards.
        %p
            The
            %a{:href => "http://www.rohsguide.com/", :target => :blank} Restriction of Hazardous Substances
            (RoHS) Directive was another European Union directive that aimed as specifically banning 6 of the more toxic materials used in electrical components, including Lead, Mercury, Cadmium, and some of the flame retardants. The directive specifically aims to eliminate lead based solder, which is used in most circuits in electronics. The RoHS was implemented after considering research over the past 50 years that highlights the dangers of heavy metals, and specifically after an EPA study of lead-free solder which showed that lead based solder came in dead last in the life-cycle assessment.
        %p
            There are drawbacks to alternatives to these hazardous components, including
            %a{:href => "http://www.hakko.com/english/lead_free/pages/", :target => :blank} higher melting points
            (and thus higher energy costs) associated with lead-free solders. Additionally, even with replacement parts that are safer, many of the problems with e-waste recycling come from the destructive nature of informal recycling, which can create acids and dioxins through the burning of components.
        %img{:src => asset_path("regulating-toxins.jpg")}

.row-fluid
    .span12
        %h2 Proposed Policy Solution
        %p
            When looking at all the parts in electronic waste treatment, including transportation, re-use / recycle decisions, and the physical dissection and separation of components, one of the largest problems is informal recycling. Even with better components being put in computers and recycling facilities being constructed by China, there is so much waste that is being informally processed. Because there are some parts in the computer (especially microprocessors, which are almost entirely gold) which are much more valuable to recycle, there is not a financial incentive to take computers to regulated recycling facilities for many of the waste pickers.
        %p
            Our proposal is to set price standards for many of the components in computers, especially the less valuable components, at the facilities. These price standards will encourage waste pickers to deliver their components to the facility where they can more safely be processed than trying to melt off the metals using unsafe fire procedures. Instead of destroying the components to gain some metal, the prices would incentivize bringing the whole component to the facility where it can be processed down to all of its parts.
        %p
            While this may require some government assistance, this tackles one of the large problems in getting informal recycling to be less hazardous. As recycling efficiency increases, the government subsidies could decrease as the recycled components become more profitable. Additionally, this will allow for more regulations to be put in place on facilities as more of the components will be processed in facilities than informally.
        %p
            Another, possibly less plausible proposal, would be to require that manufacturers put a device in the computer the occasionally will test the functionality of all of the computer parts. At the end of the lifespan of a computer, the device could give statistics about the performance of each of the parts, and so individual parts could be replaced and the whole computer could be re used instead of having to recycle all the components.
