.row-fluid
    .span12
        %h2 Rise of Computers
        %p The pace of technological globalization is rapid and very apparent.
        %p With this rapid pace of innovation comes with an equally quick rate of obsolescence. Users are constantly feeling the need to upgrade their computers, phones, and tablets. There’s always a newer, faster, thinner piece of technology.
        %p While we are accustomed to the idea of an international forward supply chain, a reverse supply chain is the reuse, recycling, and disposal of products and their materials. And the scale of these international reverse supply chains is significant. For instance, export of waste and scrap and used goods from the United States was valued at $15 billion in 2005, which accounted for 1.5% of total exports.
