.row-fluid
    .span12
        %h2 Informal Recycling
        %p
            %a{:href => "http://www.ban.org/E-waste/technotrashfinalcomp.pdf", :target => :blank} Approximately 60%
            of recycled computers are exported to developing countries to what is known as backyard recycling operations. In developing countries, cheap costs of labor and low regulations ensure lower costs, encouraging for-profit operations to export their recycling to make more money.
        %p
            Conditions in these informal recycling centers, however, are unsafe and pose a much greater concern to the environment due to use of techniques like open-burning piles of waste. Exporting these materials makes their recycling impossible for the United States to regulate.

.row-fluid
    .span12
        %h2 Guiyu, China
        %p
            Informal recycling operations are detrimental to the environment. One major center for informal computer recycling is located in Guiyu, China. The most well-known center for backyard e-waste recycling in the world, Guiyu can be taken as a microcosmic example of the effects of informal recycling.
        %p
            The environments around recycling centers like Guiyu are detrimentally affected by the leakage of waste from disposed electronics. Samples taken from Guiyu show toxic materials have leached into the ground, air, and even water supply; overall, citizens of Guiyu experience total daily exposures to dioxins and furans that are
            %a{:href => "http://ewasteguide.info/node/3618", :target => :blank} 15-56 times higher
            than the World Health Organization’s recommended limits. This exposure to toxins leads to a multitude of health concerns.
        %p
            %a{:href => "http://www.researchgate.net/profile/Xia_Huo/publication/51923904_Birth_outcomes_related_to_informal_e-waste_recycling_in_Guiyu_China/links/54b112c40cf220c63ccf8c6a.pdf", :target => :blank} A 2011 study
            showed that rates of stillbirths in Guiyu are four times higher than in comparable towns with no e-waste recycling.
            %a{:href => "http://faculty.engineering.asu.edu/kavazanjian/wp-content/uploads/2011/07/11_Williams-et-al-2008-Environmental-Social-and-Economic-Implications-of-Global-Reuse-and-Recycling-of-Personal-Computers.pdf", :target => :blank} Another study
            reported that nearly 80% of Guiyu’s children under the age of 6 have unsafe levels of lead in their blood, compared to half that number in comparable towns. The local people of places around the globe are forced to suffer the medical risks of our carelessly disposed toxic waste.
        %p
            Though Guiyu may be an iconic example, it is by no means the only place affected by our disposed e-waste. Our waste is exported to countries like
            %a{:href => "http://www.usnews.com/news/articles/2014/08/01/e-waste-in-developing-countries-endangers-environment-locals", :target => :blank} China, India, Nigeria, and more
            \- the problem is widespread and greatly affects countless people. Although it is convenient to forget about our used electronics the moment we dispose of them, we must realize the impact our electronic waste has on people around the world.
        %img{:src => "http://www.astarix.co.uk/wp/wp-content/uploads/2010/12/escrappers_pic.jpg"}
        %p.center Citizens of Guiyu looking for scrap
