!!! 5
%html
    %head
        %title Computers and the Environment
        = stylesheet_link_tag "application", "//fonts.googleapis.com/css?family=Gafata", "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
        = javascript_include_tag "application"
    %body
        #wrap
            #top
            #header
                .container
                    .row
                        .span12
                            %a#logo{:href => root_path}
                                %h1.masthead-brand Computers and the Environment
            .container
                .row-fluid
                    .span9#main
                        = yield
                    .span3
                        %ul.nav.nav-pills{:data => {:spy => "affix", :offset => {:top => "110"}}}
                            %li{:class => current_page?(problems_path) ? "active" : ""}
                                %a{:href => problems_path} Environmental and Social Problems
                            %li{:class => (current_page?(policies_path)) ? "active" : ""}
                                %a{:href => policies_path} Current and Proposed Policies
                            %li{:class => current_page?(ethics_path) ? "active" : ""}
                                %a{:href => ethics_path} Ethical Issues
            #push
        %footer
            .container
                .contents
                    .pull-left
                        %span CS181 Final Project
                    .pull-right
                        %span Tony Bruess | Anna Carroll | Joel Dominguez | Teddy Morris-Knower
